<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-color: #3f8181;
            color: beige;
        }
        .mylog{
            color: #0282a2;
            background-color: #b5d9d0;
        }
    </style>
</head>
<body>

<div class="row">


    <div class="col-md-6 offset-md-4 py-1">
        <br>
        <br>
        <br>
        <div class="col-md-6" style="justify-content: center;">
            <h1 style="text-align: center;">Chat App</h1>
        </daiv>

        <br>
        <br>
        <div class="card mylog" style=" width: 22rem;">
            <br>
            <div class="card-body" style="text-align: center;">
                <h2 class="card-title">Enter chat</h2>
                <br>
                <form class="row" style="justify-content: center;" id="loginForm" action="/login" method="POST">

                    <div class="col-auto">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="userName">
                        <br>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <br>
                        <button type="submit" class="btn btn-primary mb-3" id="loginButton">Login</button>
                    </div>
                    <div class="col-auto">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="assets/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>
